*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* margin-left: 50px; */
    /* height: 100vh; */
  
}

body{

    background-color: #0D0D0D;
    color: #ffff;
    overflow: scroll;
    font-family: 'Poppins', sans-serif;
}
.Navbar-container{
    padding: 15px 55px 15px 55px;
    background-color: #0D0D0D;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 1;
    position: sticky;
    top: 0;
}
.imglogo{
    height: 40px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}
ul button{
    border:none;
    background: none;
    color: #ffff;
    font-size: 10pt;
    z-index: 1;
}
.imgcnt{
    position: absolute;
    margin-left: 70px;
    height: 25px;
    filter: blur(0.7px);
}
main section{
    padding: 10vh 0vh 20vh 0vh ;
    width: 80%;
}
h1{
    margin-left: 50px;
    width: 80%;
    font-weight: 500;
    font-size: 50pt;
    position: relative;
}
h1 span{
    color: rgba(246,55,236,255);
    font-weight: 700;
}
.prhurry{
    width: 70%;
    margin: 40px 0px 0px 50px;
    font-size: 18pt;
    font-weight: 200;
}
.rightarr{
    position: relative;
    right: 45px;
}
.btnimg1{
    align-items: center;
    height: 40px;
    margin-left: 50px;
    position: relative;
    top: 12px;
    filter: blur(0.7px);
    
}
.getstr{
    margin-top: 60px;
    border: none;
    background: none;
    color: aliceblue;
    font-size: 16pt;
    font-weight: 500;
    position: relative;
    top: 2px;
    right: 50px;
}
.happyuser{
    width: 50%;
    padding-top: 20px;
    display: flex;
    color: #ffff    ;
    padding: 40px 0px 20px 0px;
    justify-content: space-between;
    align-items: center;
}
h2{
    margin-left: 30px;
    font-size: 35pt;
}
.plspink{
    
    align-items: center;
    color: rgba(246,55,236,255);
    font-size: 40pt;
    font-weight: 100;

}
.users{
    width: 20%;
    align-items: center;
    font-size: 16pt;
    font-weight: 400;

}
.backCards{
    position: absolute;
    height: 640px;
    margin-top: 0px;
    top: 40px;
    left: 30%
}
.frontCards{

    height: 640px;
    position: absolute;
    top: 90px;
    left: 40%;
}
.logobanner{
    padding:50px 100px;
    background-color: #292929;
    display: flex;
    justify-content: space-around;
}
.logobanner img{
    height:40px;
}
.bestpaymet-container{
    margin-left: 50px;
    padding: 80px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
}
div h3{
    width: 60%;
    font-size: 50pt;
    font-weight: 400;
    line-height: 1.5;
}
.h3color{
    font-weight:600 ;
    color: #f637ec;
}
.paymetparagraph{
    width: 40%;
    font-size: 17.5pt;
    font-weight: 200;
}
.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    font-size: 18pt;
    font-weight: 500;
}
.bannerfeatures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 350px;
    background-color: #363535;
    border: 1px solid;
    border-color: #fffff;
}
.cldeasy{
    margin-left: 33px;
    margin-right: 33px;
}
.imgcloude{
    height: 150px;
}
.cloude{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 350px;
    /* padding: 70px 100px 70px 100px; */
    background: linear-gradient(to bottom right, #313030 0%, #777676 100%);
    border: 1px solid;
    border-color: #ffff #504f4f #504f4f #ffff ; 
    z-index: 1;
    position: relative;
    bottom: 50px;
}